/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/variables.css");

:root {
  --tabline-color: -moz-accent-color;
  --toolbar-non-lwt-bgcolor: -moz-dialog;
  --toolbar-non-lwt-textcolor: -moz-dialogtext;
  --toolbar-non-lwt-bgimage: linear-gradient(rgba(255, 255, 255, 0.15),
                                             rgba(255, 255, 255, 0.15));
  --chrome-content-separator-color: ThreeDShadow;
  --noselect-folder-color: GrayText;
  --new-folder-color: -moz-hyperlinktext;
  --row-grouped-header-bg-color: -moz-dialog;
  --row-grouped-header-bg-color-selected: SelectedItem;
  --panel-separator-color: ThreeDShadow;
  --splitter-color: ThreeDShadow;
  --autocomplete-popup-url-color: -moz-nativehyperlinktext;
}

:root:-moz-lwtheme {
  --panel-separator-color: hsla(210, 4%, 10%, 0.14);
}

:root[lwt-popup-brighttext] {
  --panel-separator-color: rgba(249, 249, 250, 0.1);
}
