# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Glean – შესახებ
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> მონაცემთა აღმრიცხველი ბიბლიოთეკაა, რომელიც Mozilla-ს პროდუქტებში გამოიყენება. ეს გვერდი შემმუშავებლებისა და შემმოწმებლებისთვისაა, რომელთაც ესაჭიროებათ <a data-l10n-name="fog-debug-doc-link">გამართვისა და აღრიცხვის მდგომარეობის განსაზღვრა Glean SDK-ში</a>.
about-glean-warning = არასწორმა გამოყენებამ, { -brand-short-name } შესაძლოა უეცრად გათიშოს.

tag-pings-label = მონიშვნა ყველა გაგზავნილი ნაკრების ამ ჭდით
log-pings-label = აღირიცხოს ნაკრების დატვირთვა, გაგზავნამდე?
send-pings-label = სახელობითი ნაკრების გაგზავნა
controls-button-label = პარამეტრების წარდგენა
controls-button-label-verbose = პარამეტრების ასახვა და გაგზავნა
