# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Подробнее

accessibility-text-label-header = Текстовые метки и имена

accessibility-keyboard-header = Клавиатура

## Text entries that are used as text alternative for icons that depict accessibility isses.

## Text entries that are used as text alternative for icons that depict accessibility issues.

accessibility-warning =
    .alt = Предупреждения

accessibility-fail =
    .alt = Ошибки

accessibility-best-practices =
    .alt = Рекомендации

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Используйте атрибут <code>alt</code> для задания альтернативного текста для элементов <div>area</div> с атрибутом <span>href</span>. <a>Подробнее</a>

accessibility-text-label-issue-dialog = Элементы dialog должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-document-title = Документы должны иметь атрибут <code>title</code>. <a>Подробнее</a>

accessibility-text-label-issue-embed = Встраиваемое содержимое должно иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-figure = Элементы figure с необязательным caption должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-fieldset = Элементы <code>fieldset</code> должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-fieldset-legend2 = Используйте элемент <code>legend</code> для задания альтернативного текста для элементов <span>fieldset</span>. <a>Подробнее</a>

accessibility-text-label-issue-form = Элементы форм должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-form-visible = Элементы форм должны иметь видимую текстовую метку. <a>Подробнее</a>

accessibility-text-label-issue-frame = Элементы <code>frame</code> должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-glyph = Используйте атрибут <code>alt</code> для задания альтернативного текста для элементов <span>mglyph</span>. <a>Подробнее</a>

accessibility-text-label-issue-heading = Заголовки должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-heading-content = Заголовки должны иметь видимую текстовую метку. <a>Подробнее</a>

accessibility-text-label-issue-iframe = Используйте атрибут <code>title</code> для описания содержимого <span>iframe</span>. <a>Подробнее</a>

accessibility-text-label-issue-image = Содержимое с изображениями должно иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-interactive = Интерактивные элементы должны иметь альтернативный текст. <a>Подробнее</a>

accessibility-text-label-issue-optgroup-label2 = Используйте атрибут <code>label</code> для задания альтернативного текста для элементов <span>optgroup</span>. <a>Подробнее</a>

accessibility-text-label-issue-toolbar = Панели инструментов должны иметь альтернативный текст, когда присутствует более одной панели инструментов. <a>Подробнее</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = Фокусируемые элементы должны иметь интерактивную семантику. <a>Подробнее</a>

accessibility-keyboard-issue-tabindex = Избегайте использования атрибута <code>tabindex</code> со значением больше нуля. <a>Подробнее</a>

accessibility-keyboard-issue-action = Интерактивные элементы должны активироваться при помощи клавиатуры. <a>Подробнее</a>

accessibility-keyboard-issue-focusable = Интерактивные элементы должны быть фокусируемыми. <a>Подробнее</a>

accessibility-keyboard-issue-focus-visible = Фокусируемый элемент не имеет стилей для сфокусированного состояния. <a>Подробнее</a>

accessibility-keyboard-issue-mouse-only = Кликабельные элементы должны быть фокусируемыми и иметь интерактивную семантику. <a>Подробнее</a>
