# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Allinnich-HTTPS-modus-warskôging
about-httpsonly-title-site-not-available = Befeilige website net beskikber

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Jo hawwe de Allinnich-HTTPS-modus foar ferbettere befeiliging ynskeakele, en in HTTPS-ferzje fan <em>{ $websiteUrl }</em> is net beskikber.
about-httpsonly-explanation-question = Wat kin dit feroarsaakje?
about-httpsonly-explanation-nosupport = Heechstwierskynlik stipet de website ienfâldichwei gjin HTTPS.
about-httpsonly-explanation-risk = Mooglik is der sprake fan in oanfal. As jo beslute de website te besykjen, soene jo gjin gefoelige gegevens lykas wachtwurden, e-mailadressen of creditcardgegevens ynfiere moatte.
about-httpsonly-explanation-continue = As jo trochgean, wurdt de Allinnich-HTTPS-modus foar dizze website tydlik útskeakele .

about-httpsonly-button-continue-to-site = Trochgean nei HTTP-website
about-httpsonly-button-go-back = Tebek
about-httpsonly-link-learn-more = Mear ynfo…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Mooglik alternatyf
about-httpsonly-suggestion-box-www-text = Der is in befeilige ferzje fan <em>www.{ $websiteUrl }</em>. Jo kinne dizze side besykje yn stee fan <em>{ $websiteUrl }<em>.
about-httpsonly-suggestion-box-www-button = Nei www.{ $websiteUrl } gean
