# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = მხარდაჭერილს გახდის საცდელ შესაძლებლობას სახელწოდებით CSS Masonry Layout. იხილეთ მაღალი დონის <a data-l10n-name="explainer">განმარტებითი</a> აღწერა, ამ შესაძლებლობის. უკუკავშირისთვის, გთხოვთ გამოხმაურება დატოვოთ <a data-l10n-name="w3c-issue">GitHub-ის ამ საკითხის</a> ან <a data-l10n-name="bug">ამ ხარვეზის</a> განხილვაში.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = ახალი API უზრუნველყოფს ქვედა დონის მხარდაჭერას გამოთვლისა და გრაფიკული გამოსახვისთვის, <a data-l10n-name="wikipedia">ვიდეო პროცესორის (GPU)</a> გამოყენებით, მომხმარებლის მოწყობილობიდან. <a data-l10n-name="spec">მახასიათებლები</a> ჯერ კიდევ მუშავდება. ვრცლად იხილეთ <a data-l10n-name="bugzilla">საკითხი 1602129</a>.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Media: JPEG XL
experimental-features-media-jxl-description = ამ შესაძლებლობის ჩართვით, { -brand-short-name } მხარს დაუჭერს JPEG XL (JXL) სახეობას. ესაა გაუმჯობესებული სახის სურათი, რომელიც უდანარკარგო შემცვლელია, ძველებური JPEG-ფაილების. ვრცლად იხილეთ <a data-l10n-name="bugzilla">საკითხი 1539075</a>.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = აგებულების შემსწორებლის დამატება <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>-გარსზე, აგრეთვე მასთან დაკავშირებული სხვა მრავალი ცვლილება, შესაძლებელს ხდის პირდაპირ შეიქმნას სტილის ახალი ცხრილები, HTML-ზე დართვის გარეშე. რაც მეტად გააადვილებს, მრავალჯერადი გამოყენების სტილის ცხრილების შექმნას, <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>-თან გამოსაყენებლად. ვრცლად იხილეთ <a data-l10n-name="bugzilla">საკითხი 1520690</a>.

experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = საიტის გამოკვლევის ხელსაწყოს გვერდითი არე, რომელიც დაწვრილებით აჩვენებს აპლიკაციის სხვადასხვა ბრაუზერთან თავსებადობის მდგომარეობას. ვრცლად იხილეთ <a data-l10n-name="bugzilla">საკითხი 1584464</a>.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = ფუნთუშები: SameSite=Lax ნაგულისხმევად
experimental-features-cookie-samesite-lax-by-default2-description = განესაზღვროს ფუნთუშებს „SameSite=Lax“ ნაგულისხმევად თუ არცერთი „SameSite” თვისება არაა მინიჭებული. შემმუშავებლებს თუ სურთ არსებული შეუზღუდავი გამოყენების შენარჩუნება, მკაცრად უნდა მიუთითონ „SameSite=None“.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = ფუნთუშები: SameSite=none საჭიროებს დაცულ თვისებას
experimental-features-cookie-samesite-none-requires-secure2-description = ფუნთუშები თვისებით „SameSite=None“ საჭიროებს დაცულ თვისებას. ამ შესაძლებლობის წინაპირობაა „ფუნთუშები: SameSite=Lax ნაგულისხმევად”.

# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home გაშვების მარაგი
experimental-features-abouthome-startup-cache-description = დროებით მომარაგებული მონაცემები, საწყისი about:home გვერდის ჩასატვირთად გაშვების დროს. ამ მარაგის მიზანია, მეტად აასწრაფოს პროგრამის ჩართვა.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = განისაზღვროს ფუნთუშები იმავე მისამართიდან, თუმცა განსხვავებული სქემით (მაგ. http://example.com და https://example.com) როგორც „cross-site“ და არა „same-site”. გააუმჯობესებს უსაფრთხოებას, თუმცა გაზრდის გაუმართაობის ალბათობას.

# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = ჩართავს საცდელ მხარდაჭერას Service Workers-ისთვის გასამართ არეში. შესაძლოა, ამ შესაძლებლობამ შეანელოს Developer Tools და გაზარდოს მეხსიერების მოხმარება.

# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Mute Toggles
experimental-features-webrtc-global-mute-toggles-description = ამატებს სამართავს WebRTC-ის საერთო საზიარო მაჩვენებელში, რომლითაც მომხმარებელს შეუძლია ერთიანად დაადუმოს მიკროფონისა და კამერის არხები.

# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = ჩაირთვება Warp, პროექტი, JavaScript-ის წარმადობისა და მეხსიერების გამოყენების გასაუმჯობესებლად.

# Search during IME
experimental-features-ime-search =
    .label = მისამართის ზოლი: შედეგების ჩვენება IME კომპოზიციის დროს
experimental-features-ime-search-description = IME (შეყვანის მეთოდის რედაქტორი) არის ხელსაწყო, რომელიც საშუალებას გაძლევთ შეიყვანოთ კომპლექსური (მაგ. აღმოსავლეთ აზიურ ან ინდურ დამწერლობებში გამოყენებული) სიმბოლოები. ამ ექსპერიმენტის ჩართვა მისამართის ზოლს გახსნილს დატოვებს, ძიების შედეგების და რჩევების ჩვენებისას კი გამოიყენებს IME-ს ტექსტის შესაყვანად. გაითვალისწინეთ, რომ შესაძლოა IME-მ აჩვენოს პანელი, რომელიც დაფარავს მისამართის ზოლის შედეგებს, ამიტომ ეს პარამეტრი რეკომენდებულია მხოლოდ IME-სთვის, რომელიც არ იყენებს ამ სახის პანელს.

experimental-features-accessibility-cache =
    .label = Accessibility cache
experimental-features-accessibility-cache-description = მოიმარაგებს ხელმისაწვდომობის ყველა მონაცემს ყველა დოკუმენტისას, რომელთაც { -brand-short-name } ამუშავებს მთავარ პროცესში. შედეგად, გაუმჯობესდება ეკრანის წამკითხველებისა და იმ პროგრამების წარმადობა, რომლებიც იყენებს ხელმისაწვდომობის მაკავშირებელ გარსებს (API).
