# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

          <radiogroup id="booleanAndGroup" orient="horizontal" value="and"
                      oncommand="booleanChanged(event);">
            <radio value="and" label="&matchAll.label;"
                   accesskey="&matchAll.accesskey;" flex="1"/>
            <radio value="or" label="&matchAny.label;"
                   accesskey="&matchAny.accesskey;" flex="1"/>
            <radio value="matchAll" id="matchAllItem" label="&matchAllMsgs.label;"
                   accesskey="&matchAllMsgs.accesskey;" flex="1"/>
          </radiogroup>

          <hbox id="searchTermBox" flex="1"
                style="min-height:100px; max-height:100vh;">
            <hbox id="searchterms" class="themeable-brighttext"/>
            <richlistbox flex="1" id="searchTermList">
              <treecols hidden="true">
                <treecol flex="&searchTermListAttributesFlexValue;"/>
                <treecol flex="&searchTermListOperatorsFlexValue;"/>
                <treecol flex="&searchTermListValueFlexValue;"/>
                <treecol class="filler"/>
              </treecols>
            </richlistbox>

          </hbox>
        </vbox>
