<?xml version="1.0"?>
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

#filter substitution
#define MAIN_WINDOW
<?xml-stylesheet href="chrome://messenger/skin/mailWindow1.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/tagColors.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/shared/glodacomplete.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/tabmail.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/quickFilterBar.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/popupPanel.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/chat.css" type="text/css"?>
<?xml-stylesheet href="chrome://chat/skin/imtooltip.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/messageHeader.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/icons.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/colors.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/folderMenus.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/attachmentList.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/searchBox.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/panelUI.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/contextMenu.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/input-fields.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/openpgp/inlineNotification.css" type="text/css"?>
<?xml-stylesheet href="chrome://messenger/skin/spacesToolbar.css" type="text/css"?>

<!-- Calendar CSS -->
<?xml-stylesheet href="chrome://calendar/skin/calendar.css" type="text/css"?>

<?xml-stylesheet href="chrome://calendar/skin/calendar-event-dialog.css" type="text/css"?>
<?xml-stylesheet href="chrome://calendar/skin/shared/dialogs/calendar-event-dialog.css" type="text/css"?>

<?xml-stylesheet href="chrome://calendar/skin/today-pane.css" type="text/css"?>

<?xml-stylesheet href="chrome://calendar/skin/calendar-unifinder.css" type="text/css"?>

<?xml-stylesheet href="chrome://calendar/skin/calendar-task-tree.css" type="text/css"?>
<?xml-stylesheet href="chrome://calendar/skin/calendar-task-view.css" type="text/css"?>

<?xml-stylesheet href="chrome://calendar/skin/calendar-views.css" type="text/css"?>
<?xml-stylesheet href="chrome://calendar/skin/shared/calendar-alarms.css" type="text/css"?>
<?xml-stylesheet href="chrome://calendar/skin/shared/calendar-invitation-display.css" type="text/css"?>
<?xml-stylesheet href="chrome://calendar/skin/shared/widgets/minimonth.css" type="text/css"?>
<?xml-stylesheet href="chrome://calendar/skin/widgets/calendar-widgets.css" type="text/css"?>

<?xml-stylesheet href="chrome://calendar/skin/calendar-toolbar.css" type="text/css"?>

# All DTD information is stored in a separate file so that it can be shared by
# hiddenWindowMac.xhtml.
<!DOCTYPE html [
#include messenger-doctype.inc.dtd
]>

<!--
  - The 'what you think of when you think of thunderbird' window;
  -  3-pane view inside of tabs.
  -->
<html id="messengerWindow" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:html="http://www.w3.org/1999/xhtml"
      xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
      icon="messengerWindow"
      titlemodifier="&titledefault.label;@PRE_RELEASE_SUFFIX@"
      titlemenuseparator="&titleSeparator.label;"
      defaultTabTitle="&defaultTabTitle.label;"
      windowtype="mail:3pane"
      macanimationtype="document"
      screenX="10" screenY="10"
      scrolling="false"
      persist="screenX screenY width height sizemode"
      toggletoolbar="true"
      lightweightthemes="true"
      fullscreenbutton="true"
      calendar-deactivated="">
<head>
  <link rel="localization" href="branding/brand.ftl" />
  <link rel="localization" href="messenger/shortcuts.ftl" />
  <link rel="localization" href="messenger/messenger.ftl" />
  <link rel="localization" href="toolkit/main-window/findbar.ftl" />
  <link rel="localization" href="toolkit/global/textActions.ftl" />
  <link rel="localization" href="toolkit/printing/printUI.ftl" />
  <link rel="localization" href="messenger/menubar.ftl" />
  <link rel="localization" href="messenger/appmenu.ftl" />
  <link rel="localization" href="messenger/openpgp/openpgp.ftl" />
  <link rel="localization" href="messenger/openpgp/openpgp-frontend.ftl" />
  <link rel="localization" href="messenger/openpgp/msgReadStatus.ftl"/>
  <link rel="localization" href="calendar/calendar-widgets.ftl" />
  <link rel="localization" href="calendar/calendar-context-menus.ftl" />
  <link rel="localization" href="calendar/calendar-editable-item.ftl" />
  <link rel="localization" href="calendar/calendar-invitation-panel.ftl" />
  <link rel="localization" href="messenger/chat.ftl" />
  <link rel="localization" href="messenger/messageheader/headerFields.ftl" />
  <link rel="localization" href="messenger/mailWidgets.ftl" />

  <title>&titledefault.label;@PRE_RELEASE_SUFFIX@</title>

  <script defer="defer" src="chrome://global/content/globalOverlay.js"></script>
  <script defer="defer" src="chrome://global/content/editMenuOverlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/commandglue.js"></script>
  <script defer="defer" src="chrome://messenger/content/msgViewNavigation.js"></script>
  <script defer="defer" src="chrome://messenger/content/mailWindow.js"></script>
  <script defer="defer" src="chrome://messenger/content/selectionsummaries.js"></script>
  <script defer="defer" src="chrome://messenger/content/msgMail3PaneWindow.js"></script>
  <script defer="defer" src="chrome://messenger/content/specialTabs.js"></script>
  <script defer="defer" src="chrome://messenger/content/spacesToolbar.js"></script>
  <script defer="defer" src="chrome://messenger/content/newmailaccount/provisionerCheckout.js"></script>
  <script defer="defer" src="chrome://messenger/content/glodaFacetTab.js"></script>
  <script defer="defer" src="chrome://gloda/content/overlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/searchBar.js"></script>
  <script defer="defer" src="chrome://messenger/content/mail3PaneWindowCommands.js"></script>
  <script defer="defer" src="chrome://global/content/contentAreaUtils.js"></script>
  <script defer="defer" src="chrome://messenger/content/nsContextMenu.js"></script>
  <script defer="defer" src="chrome://messenger/content/mailContextMenus.js"></script>
  <script defer="defer" src="chrome://messenger/content/accountUtils.js"></script>
  <script defer="defer" src="chrome://messenger/content/folderPane.js"></script>
  <script defer="defer" src="chrome://communicator/content/contentAreaClick.js"></script>
  <script defer="defer" src="chrome://messenger/content/editContactPanel.js"></script>
  <script defer="defer" src="chrome://messenger/content/toolbarIconColor.js"></script>
  <script defer="defer" src="chrome://messenger/content/jsTreeView.js"></script>
  <script defer="defer" src="chrome://messenger/content/header-fields.js"></script>
  <script defer="defer" src="chrome://messenger/content/msgHdrView.js"></script>
  <script defer="defer" src="chrome://messenger-smime/content/msgHdrViewSMIMEOverlay.js"></script>
  <script defer="defer" src="chrome://messenger-smime/content/msgReadSMIMEOverlay.js"></script>
  <script defer="defer" src="chrome://openpgp/content/ui/enigmailMessengerOverlay.js"></script>
  <script defer="defer" src="chrome://openpgp/content/ui/enigmailMsgHdrViewOverlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/msgSecurityPane.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/chat-messenger.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/imStatusSelector.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/imContextMenu.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/chat-conversation.js"></script>
  <script defer="defer" src="chrome://messenger/content/addressbook/addressBookTab.js"></script>
  <script defer="defer" src="chrome://messenger/content/preferences/preferencesTab.js"></script>
  <script defer="defer" src="chrome://messenger/content/mailCore.js"></script>
  <script defer="defer" src="chrome://messenger/content/mailCommands.js"></script>
  <script defer="defer" src="chrome://messenger/content/junkCommands.js"></script>
  <script defer="defer" src="chrome://messenger/content/mailWindowOverlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/mailTabs.js"></script>
  <script defer="defer" src="chrome://messenger/content/messageDisplay.js"></script>
  <script defer="defer" src="chrome://messenger/content/folderDisplay.js"></script>
  <script defer="defer" src="chrome://messenger-newsblog/content/newsblogOverlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/mail-offline.js"></script>
  <script defer="defer" src="chrome://messenger/content/msgViewPickerOverlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/viewZoomOverlay.js"></script>
  <script defer="defer" src="chrome://communicator/content/utilityOverlay.js"></script>
  <script defer="defer" src="chrome://messenger/content/quickFilterBar.js"></script>
  <script defer="defer" src="chrome://messenger/content/newmailaccount/uriListener.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/chat-conversation-info.js"></script>
  <script defer="defer" src="chrome://gloda/content/autocomplete-richlistitem.js"></script>
  <script defer="defer" src="chrome://gloda/content/glodacomplete.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/chat-contact.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/chat-group.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/chat-imconv.js"></script>
  <script defer="defer" src="chrome://messenger/content/tabmail-tab.js"></script>
  <script defer="defer" src="chrome://messenger/content/tabmail-tabs.js"></script>
  <script defer="defer" src="chrome://messenger/content/tabmail.js"></script>
  <script defer="defer" src="chrome://messenger/content/chat/toolbarbutton-badge-button.js"></script>
  <script defer="defer" src="chrome://messenger/content/messenger-customization.js"></script>
  <script defer="defer" src="chrome://messenger/content/customizable-toolbar.js"></script>
  <!-- panelUI.js is for the appmenus. -->
  <script defer="defer" src="chrome://messenger/content/panelUI.js"></script>
#ifdef XP_MACOSX
  <script defer="defer" src="chrome://messenger/content/macMessengerMenu.js"></script>
  <script defer="defer" src="chrome://global/content/macWindowMenu.js"></script>
#endif
#ifdef XP_WIN
  <script defer="defer" src="chrome://messenger/content/minimizeToTray.js"></script>
#endif

  <script defer="defer" src="chrome://messenger/content/threadPane.js"></script>

  <!-- calendar imip bar -->
  <script defer="defer" src="chrome://calendar/content/imip-bar.js"></script>
  <!-- calendar invitation display -->
  <script defer="defer" src="chrome://calendar/content/calendar-invitation-display.js"></script>
  <!-- calendar-management.js also needed for multiple calendar support and today pane -->
  <script defer="defer" src="chrome://calendar/content/calendar-management.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-ui-utils.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-tabs.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-modes.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-day-label.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-clipboard.js"></script>

  <script defer="defer" src="chrome://calendar/content/import-export.js"></script>

  <script defer="defer" src="chrome://calendar/content/publish.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-item-editing.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-chrome-startup.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/mouseoverPreviews.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-views-utils.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/calendar-filter.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-base-view.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/calendar-dnd-widgets.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-editable-item.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-month-view.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-multiday-view.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-views.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-dnd-listener.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-statusbar.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/calendar-invitation-panel.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/calendar-minidate.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/calendar-minimonth.js"></script>
  <script defer="defer" src="chrome://calendar/content/widgets/calendar-modebox.js"></script>

  <!-- NEEDED FOR TASK VIEW/LIST SUPPORT -->
  <script defer="defer" src="chrome://calendar/content/calendar-task-editing.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-extract.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-invitations-manager.js"></script>

  <!-- NEEDED FOR EVENT/TASK IN A TAB -->
  <script defer="defer" src="chrome://calendar/content/calendar-item-panel.js"></script>

  <script defer="defer" src="chrome://calendar/content/calendar-command-controller.js"></script>

  <!-- NEEDED FOR EVENTS VIEW (UNIFINDER) -->
  <script defer="defer" src="chrome://calendar/content/calendar-unifinder.js"></script>

  <!-- NEEDED FOR TODAY PANE AND TASKS VIEW -->

  <script defer="defer" src="chrome://messenger/content/tree-listbox.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-task-tree-utils.js"></script>
  <script defer="defer" src="chrome://calendar/content/today-pane-agenda.js"></script>
  <script defer="defer" src="chrome://calendar/content/today-pane.js"></script>

  <!-- NEEDED FOR TASK VIEW -->
  <script defer="defer" src="chrome://calendar/content/calendar-task-tree-view.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-task-tree.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-task-view.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-dialog-utils.js"></script>
  <script defer="defer" src="chrome://calendar/content/calApplicationUtils.js"></script>
  <script defer="defer" src="chrome://calendar/content/calendar-menus.js"></script>

  <!-- NEEDED FOR MIGRATION CHECK AT INSTALL -->
  <script defer="defer" src="chrome://calendar/content/calendar-migration.js"></script>
  <script defer="defer" src="chrome://messenger/content/shortcutsOverlay.js"></script>

  <script>
    window.onload = gMailInit.onLoad.bind(gMailInit);
    window.onunload = gMailInit.onUnload.bind(gMailInit);

    window.addEventListener("MozBeforeInitialXULLayout",
     gMailInit.onBeforeInitialXULLayout.bind(gMailInit), { once: true });
  </script>

  <!-- Color customization for the folder pane. -->
  <style id="folderColorsStyle"></style>
  <style id="folderColorsStylePreview"></style>
</head>
<html:body xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">

<stringbundle id="bundle_brand" src="chrome://branding/locale/brand.properties"/>
<stringbundle id="bundle_messenger" src="chrome://messenger/locale/messenger.properties"/>

<commandset id="mailCommands">
#include mainCommandSet.inc.xhtml
  <commandset id="mailSearchMenuItems"/>
  <commandset id="globalEditMenuItems"
              commandupdater="true"
              events="create-menu-edit"
              oncommandupdate="goUpdateGlobalEditMenuItems()"/>
  <commandset id="selectEditMenuItems"
              commandupdater="true"
              events="create-menu-edit"
              oncommandupdate="goUpdateSelectEditMenuItems()"/>
  <commandset id="undoEditMenuItems"
              commandupdater="true"
              events="undo"
              oncommandupdate="goUpdateUndoEditMenuItems()"/>
  <commandset id="clipboardEditMenuItems"
              commandupdater="true"
              events="clipboard"
              oncommandupdate="goUpdatePasteMenuItems()"/>
  <commandset id="webSearchItems"/>
  <commandset id="browserCommands">
    <!-- Browsing back and forth inside the add-on manager and on ATN -->
    <command id="Browser:Back"
             oncommand="specialTabs.browserBack();"/>
    <command id="Browser:Forward"
             oncommand="specialTabs.browserForward();"/>
  </commandset>
  <commandset id="attachmentCommands">
    <command id="cmd_openAllAttachments"
             oncommand="goDoCommand('cmd_openAllAttachments');"
             disabled="true"/>
    <command id="cmd_saveAllAttachments"
             oncommand="goDoCommand('cmd_saveAllAttachments');"
             disabled="true"/>
    <command id="cmd_detachAllAttachments"
             oncommand="goDoCommand('cmd_detachAllAttachments');"
             disabled="true"/>
    <command id="cmd_deleteAllAttachments"
             oncommand="goDoCommand('cmd_deleteAllAttachments');"
             disabled="true"/>
  </commandset>
  <commandset id="FocusRingUpdate_Mail"
        commandupdater="true"
        events="focus"
        oncommandupdate="FocusRingUpdate_Mail()"/>
  <commandset id="tasksCommands">
    <command id="cmd_newMessage" oncommand="goOpenNewMessage();"/>
    <command id="cmd_newCard" oncommand="openNewCardDialog()"/>
  </commandset>
  <command id="cmd_close" oncommand="CloseTabOrWindow();"/>
  <command id="cmd_CustomizeMailToolbar"
           oncommand="customizeMailToolbarForTabType()"/>
</commandset>

#include ../../../calendar/base/content/calendar-commands.inc.xhtml

<keyset id="browserKeys">
#ifdef XP_MACOSX
  <key id="key_goBackKb" keycode="VK_LEFT" command="Browser:Back" modifiers="accel"/>
  <key id="key_goForwardKb" keycode="VK_RIGHT" command="Browser:Forward" modifiers="accel"/>
#else
  <key id="key_goBackKb" keycode="VK_LEFT" command="Browser:Back" modifiers="alt" />
  <key id="key_goForwardKb" keycode="VK_RIGHT" command="Browser:Forward" modifiers="alt" />
#endif
</keyset>
<keyset id="mailKeys">
  <!-- Tab/F6 Keys -->
  <key keycode="VK_TAB" oncommand="SwitchPaneFocus(event);" modifiers="control,shift"/>
  <key keycode="VK_TAB" oncommand="SwitchPaneFocus(event);" modifiers="control"/>
  <key keycode="VK_F6" oncommand="SwitchPaneFocus(event);" modifiers="control,shift"/>
  <key keycode="VK_F6" oncommand="SwitchPaneFocus(event);" modifiers="control"/>
  <key keycode="VK_F6" oncommand="SwitchPaneFocus(event);" modifiers="shift"/>
  <key keycode="VK_F6" oncommand="SwitchPaneFocus(event);"/>
#include mainKeySet.inc.xhtml
  <keyset id="tasksKeys">
#ifdef XP_MACOSX
    <key id="key_newMessage" key="&newMessageCmd.key;" command="cmd_newMessage"
         modifiers="accel,shift"/>
    <key id="key_newMessage2" key="&newMessageCmd2.key;" command="cmd_newMessage"
         modifiers="accel"/>
#else
    <key id="key_newMessage"  key="&newMessageCmd.key;" command="cmd_newMessage"
         modifiers="accel"/>
    <key id="key_newMessage2" key="&newMessageCmd2.key;" command="cmd_newMessage"
         modifiers="accel"/>
#endif
  </keyset>
</keyset>

#include ../../../calendar/base/content/calendar-keys.inc.xhtml

<!-- Popup menus provided by mailWindowOverlay.xhtml -->
<popupset id="mainPopupSet">
#include mainPopupSet.inc.xhtml

<!-- The panelUI is for the appmenu. -->
#include ../../components/customizableui/content/panelUI.inc.xhtml

#include msgHdrPopup.inc.xhtml
  <panel is="glodacomplete-rich-result-popup"
         id="PopupGlodaAutocomplete"
         noautofocus="true"/>

  <tooltip id="attachmentListTooltip"/>

  <!-- We want to be able to do the following:

       1)  Open the tabContextMenu by right-clicking on individual tab selectors
       2)  Open the mail-toolbox customize context menu when right-clicking on
           the empty space of the tab selector.

       In order to do that, we make the tabContextMenu available in the main
       document, and refer to it via the context attributes of each newly spawned
       tab selector.  We also make the context attribute of the tab strip default
       to the mail-toolbox customization popup.

       So, when right-clicking on a tab, the tabContextMenu opens up, and stops
       the click event from propagating - but when the strip is right-clicked
       outside of any tabs, the mail-toolbox context menu opens, as desired.
  -->

  <menupopup id="tabContextMenu">
    <menuitem id="tabContextMenuOpenInWindow"
              label="&moveToNewWindow.label;"
              accesskey="&moveToNewWindow.accesskey;"/>
    <menuseparator />
    <menuitem id="tabContextMenuCloseOtherTabs"
              label="&closeOtherTabsCmd2.label;"
              accesskey="&closeOtherTabsCmd2.accesskey;"/>
    <menuseparator />
    <menu id="tabContextMenuRecentlyClosed"
          label="&recentlyClosedTabsCmd.label;"
          accesskey="&recentlyClosedTabsCmd.accesskey;">
      <menupopup />
    </menu>
    <menuitem id="tabContextMenuClose"
              label="&closeTabCmd2.label;"
              accesskey="&closeTabCmd2.accesskey;"/>
  </menupopup>

  <tooltip is="folder-tooltip" id="folderpopup"/>

  <tooltip id="aHTMLTooltip" page="true"/>

  <panel id="notification-popup"
         position="after_end"
         orient="vertical"
         noautofocus="true"
         role="alert"/>

  <popupnotification id="addon-progress-notification" hasicon="true" hidden="true">
    <popupnotificationcontent orient="vertical">
      <html:progress id="addon-progress-notification-progressmeter" max="100"/>
      <label id="addon-progress-notification-progresstext" crop="end"/>
    </popupnotificationcontent>
  </popupnotification>

  <popupnotification id="addon-install-confirmation-notification" hasicon="true" hidden="true">
    <popupnotificationcontent id="addon-install-confirmation-content" orient="vertical"/>
  </popupnotification>

  <popupnotification id="addon-webext-permissions-notification" hasicon="true" hidden="true">
    <popupnotificationcontent class="addon-webext-perm-notification-content" orient="vertical">
      <description id="addon-webext-perm-text" class="addon-webext-perm-text"/>
      <label id="addon-webext-perm-intro" class="addon-webext-perm-text"/>
      <label id="addon-webext-perm-single-entry" class="addon-webext-perm-single-entry"/>
      <html:ul id="addon-webext-perm-list" class="addon-webext-perm-list"/>
      <description id="addon-webext-experiment-warning" class="addon-webext-experiment-warning"/>
      <hbox>
        <label id="addon-webext-perm-info" is="text-link" class="popup-notification-learnmore-link"/>
      </hbox>
    </popupnotificationcontent>
  </popupnotification>

  <popupnotification id="addon-installed-notification" hasicon="true" hidden="true">
    <popupnotificationcontent class="addon-installed-notification-content" orient="vertical">
      <html:ul id="addon-installed-list" class="addon-installed-list"/>
    </popupnotificationcontent>
  </popupnotification>

  <popupnotification id="addon-install-blocked-notification" hasicon="true" hidden="true">
    <popupnotificationcontent id="addon-install-blocked-content" orient="vertical">
      <description id="addon-install-blocked-message" class="popup-notification-description"></description>
      <hbox>
        <label id="addon-install-blocked-info" class="popup-notification-learnmore-link" is="text-link"/>
      </hbox>
    </popupnotificationcontent>
  </popupnotification>

#ifdef MOZ_UPDATER
  <popupnotification id="app-update-notification" hasicon="true" hidden="true">
    <popupnotificationcontent class="app-update-notification-content" orient="vertical">
      <description id="app-update-text" class="app-update-text"/>
    </popupnotificationcontent>
  </popupnotification>
#endif

#include editContactPanel.inc.xhtml
#include ../../components/im/content/chat-menu.inc.xhtml
</popupset>
#ifdef XP_MACOSX
<popupset>
  <menupopup id="menu_mac_dockmenu">
    <menuitem label="&writeNewMessageDock.label;" id="tasksWriteNewMessage"
              oncommand="writeNewMessageDock();"/>
    <menuitem label="&openAddressBookDock.label;" id="tasksOpenAddressBook"
              oncommand="openAddressBookDock();"/>
    <menuitem label="&dockOptions.label;" id="tasksMenuDockOptions"
              oncommand="openDockOptions();"/>
  </menupopup>
</popupset>
#endif

#include ../../../calendar/base/content/calendar-context-menus-and-tooltips.inc.xhtml

<!--
  GTK needs to draw behind the lightweight theme toolbox backgrounds, thus the
  extra box. Also this box allows a negative margin-top to slide the toolbox off
  screen in fullscreen layout.
-->
<box id="navigation-toolbox-background">
  <toolbox id="navigation-toolbox" flex="1" labelalign="end" defaultlabelalign="end">

    <vbox id="titlebar">
      <!-- Menu -->
      <toolbar is="customizable-toolbar" id="toolbar-menubar"
               class="chromeclass-menubar themeable-full"
               type="menubar"
               customizable="true"
               toolboxid="mail-toolbox"
#ifdef XP_MACOSX
               defaultset="menubar-items"
               autohide="true"
#else
               defaultset="menubar-items,spring"
#endif
#ifndef XP_MACOSX
               data-l10n-id="toolbar-context-menu-menu-bar"
               data-l10n-attrs="toolbarname"
#endif
               context="toolbar-context-menu"
               mode="icons"
               insertbefore="tabs-toolbar"
               prependmenuitem="true">
        <toolbaritem id="menubar-items" align="center">
# The entire main menubar is placed into messenger-menubar.inc.xhtml, so that it
# can be shared with other top level windows.
#include messenger-menubar.inc.xhtml
        </toolbaritem>
#include messenger-titlebar-items.inc.xhtml
      </toolbar>

      <toolbar id="tabs-toolbar" class="chromeclass-toolbar">
#include spacesToolbarPin.inc.xhtml
        <tabs is="tabmail-tabs" id="tabmail-tabs"
              flex="1"
              align="end"
              setfocus="false"
              alltabsbutton="alltabs-button"
              collapsetoolbar="tabs-toolbar"
              tabtoolbar="tabbar-toolbar"
              context="toolbar-context-menu">
          <html:img class="tab-drop-indicator"
                    src="chrome://messenger/skin/icons/tab-drag-indicator.svg"
                    alt=""
                    hidden="hidden" />
          <arrowscrollbox id="tabmail-arrowscrollbox"
                          orient="horizontal"
                          flex="1"
                          clicktoscroll="true"
                          style="min-width: 1px;">
            <tab is="tabmail-tab" selected="true" validate="never"
                 style="min-width:100px; max-width:250px;" width="0" flex="100"
                 class="tabmail-tab" crop="end"/>
          </arrowscrollbox>
        </tabs>

        <box id="notification-popup-box" align="center" hidden="true">
          <image id="addons-notification-icon"
                 class="notification-anchor-icon addons-icon"
                 role="button"/>
#ifdef MOZ_UPDATER
          <image id="app-update-notification-icon"
                 class="notification-anchor-icon app-update-icon"
                 role="button"/>
#endif
        </box>

        <toolbar is="customizable-toolbar" id="tabbar-toolbar"
                 toolboxid="mail-toolbox"
                 class="themeable-full"
                 context="toolbar-context-menu"
                 customizable="true"
                 mode="icons" defaultmode="icons" lockmode="true"
                 iconsize="small" defaulticonsize="small" lockiconsize="true"
                 defaultset="">
        </toolbar>

        <toolbarbutton class="toolbarbutton-1 tabs-alltabs-button"
                        id="alltabs-button"
                        type="menu"
                        hidden="true"
                        tooltiptext="&listAllTabs.label;">
          <menupopup is="tabmail-alltabs-menupopup" id="alltabs-popup"
                      position="after_end"
                      tabcontainer="tabmail-tabs"/>
        </toolbarbutton>

#include messenger-titlebar-items.inc.xhtml

      </toolbar>

    </vbox>

  </toolbox>
</box>

<!-- Primary container to properly align the spaces toolbar. -->
<hbox id="messengerContainer">
#include spacesToolbar.inc.xhtml

  <vbox id="messengerBody">
  <!-- XXX This extension point (tabmail-container) is only temporary!
       Horizontal space shouldn't be wasted if it isn't absolutely critical.
       A mechanism for adding sidebar panes will be added in bug 476154. -->
  <hbox id="tabmail-container" flex="1">
    <!-- Beware!  Do NOT use overlays to append nodes directly to tabmail (children
         of tabmail is OK though). This will break Ctrl-tab switching because
         the Custom Element will choke when it finds a child of tabmail that is
         not a tabpanels node. -->
    <tabmail id="tabmail"
             class="printPreviewStack"
             flex="1"
             panelcontainer="tabpanelcontainer"
             tabcontainer="tabmail-tabs">
     <tabbox id="tabmail-tabbox" flex="1" eventnode="document" tabcontainer="tabmail-tabs">
      <tabpanels id="tabpanelcontainer" flex="1" class="plain" selectedIndex="0">

        <!-- mailContent is the container used for the "wide" layout. Normally,
             all it contains is the "messengerBox" box.  However, in "wide" mode
             the message pane and its splitter transplant themselves into the box
             (respectively, messagepanebox and threadpane-splitter).  This gives us
             the folder pane next to the thread view, with the message pane/reader
             beneath both of them. -->
        <box id="mailContent" orient="vertical" flex="1">
          <!-- mail-toolbox with the main toolbarbuttons -->
          <toolbox id="mail-toolbox"
                   class="mail-toolbox"
                   mode="full"
                   defaultmode="full"
#ifdef XP_MACOSX
                   iconsize="small"
                   defaulticonsize="small"
#endif
                   labelalign="end"
                   defaultlabelalign="end">
#include mainMailToolbar.inc.xhtml
          </toolbox>

          <hbox id="messengerBox" flex="1" style="min-height:100px;" height="100" persist="height">
            <vbox id="folderPaneBox" style="min-width:125px;" width="200" persist="width">
              <hbox id="folderPaneHeader"
                    data-l10n-id="folder-pane-toolbar"
                    data-l10n-attrs="toolbarname"
                    toolboxid="mail-toolbox"
                    align="center">
                <label data-l10n-id="folder-pane-header-label" flex="1"/>
                <toolbarbutton id="folderPaneOptionsButton"
                               data-l10n-id="folder-pane-toolbar-options-button"
                               class="button-flat button-more"
                               oncommand="gFolderTreeView.folderPaneOptionsButtonOnCommand(event);"
                               tabindex="0"/>
                <menupopup id="folderPaneOptionsPopup"
                           onpopupshowing="gFolderTreeView.initFolderPaneOptionsPopup();">
                </menupopup>
              </hbox>
              <tree id="folderTree" class="plain" flex="1"
                    hidecolumnpicker="true" persist="mode" mode="all"
                    keepcurrentinview="true"
                    context="folderPaneContext"
                    disableKeyNavigation="true"
                    ondragstart="gFolderTreeView._onDragStart(event);"
                    ondragover="gFolderTreeView._onDragOver(event);"
                    ondrop="gFolderTreeView._onDragDrop(event);"
                    ondblclick="gFolderTreeView.onDoubleClick(event);"
                    onselect="FolderPaneSelectionChange();">
                <treecols id="folderPaneCols"
                          pickertooltiptext="&columnChooser2.tooltip;">
                  <treecol id="folderNameCol"
                           closemenu="none"
                           label2="&folderNameColumn.label;"
                           flex="5"
                           crop="center"
                           persist="width"
                           hideheader="true"
                           ignoreincolumnpicker="true"
                           primary="true"/>
                  <splitter class="tree-splitter"/>
                  <treecol id="folderUnreadCol"
                           closemenu="none"
                           label2="&folderUnreadColumn.label;"
                           tooltiptext="&folderUnreadColumn.label;"
                           hideheader="true"
                           hidden="true"
                           persist="width hidden hiddeninactive"
                           width="50"
                           selectable="false"/>
                  <splitter class="tree-splitter"/>
                  <treecol id="folderTotalCol"
                           closemenu="none"
                           label2="&folderTotalColumn.label;"
                           tooltiptext="&folderTotalColumn.label;"
                           hideheader="true"
                           hidden="true"
                           persist="width hidden hiddeninactive"
                           width="50"
                           selectable="false"/>
                  <splitter class="tree-splitter"/>
                  <treecol id="folderSizeCol"
                           closemenu="none"
                           label2="&folderSizeColumn.label;"
                           tooltiptext="&folderSizeColumn.label;"
                           hideheader="true"
                           hidden="true"
                           persist="width hidden hiddeninactive"
                           width="50"
                           selectable="false"/>
                </treecols>
                <treechildren tooltip="folderpopup"/>
              </tree>
            </vbox>

            <splitter id="folderpane_splitter" collapse="before"/>

            <vbox flex="1">
              <box orient="vertical" id="messagesBox" flex="1">
#include quickFilterBar.inc.xhtml
                <hbox id="displayBox" flex="1"
                      style="min-height:100px;" height="100" persist="height">
                  <!-- first panel in displayBox is Account Central -->
                  <vbox id="accountCentralBox" flex="1">
                    <iframe name="accountCentralPane"
                            tooltip="aHTMLTooltip"
                            width="150" flex="1" src="about:blank"/>
                  </vbox>
                  <!-- The threadPaneBox is the basis for the vertical view and you
                       should not put anything in it, because the messagepane will
                       get transplanted in there. (In the vertical view, the elements
                       end up being: threadPaneBox, threadpane-splitter, messagepanebox)
                    -->
                  <!-- second panel is the threadPane -->
                  <hbox id="threadPaneBox" flex="1" collapsed="true">
                    <!-- The threadContentArea was specially created to be a place for
                         things that want to be above/below the thread pane, regardless
                         of where the message reader ("messagepane") gets off to. -->
                    <vbox id="threadContentArea" flex="1" persist="width">
#include threadTree.inc.xhtml
                    </vbox>
                  </hbox>
                <!-- extensions may overlay in additional panels; don't assume that there are only 2! -->
                </hbox> <!-- displayBox -->

                <!-- if you change this id, please change GetThreadAndMessagePaneSplitter() and MsgToggleMessagePane() -->
                <splitter id="threadpane-splitter"
                          collapse="after"
                          collapsed="true"
                          onmouseup="OnMouseUpThreadAndMessagePaneSplitter()"/>

                <!-- a convenience box for ease of extension overlaying -->
                <hbox id="messagepaneboxwrapper"
                      flex="1"
                      style="min-height:100px; min-width:100px;"
                      height="200" width="200">
                  <vbox id="messagepanebox" flex="2">
                    <!-- This next iframe is used to display summaries of -->
                    <!-- multiple selected messages or collapsed threads -->
                    <browser id="multimessage"
                             style="height: 0px; min-height: 1px"
                             flex="1" name="multimessage"
                             hidden="true"
                             disablesecurity="true" disablehistory="true"
                             tooltip="aHTMLTooltip"
                             src="chrome://messenger/content/multimessageview.xhtml"
                             type="content"
                             autofind="false"/>
                    <vbox id="singleMessage" flex="1">
                      <hbox id="msgHeaderView" collapsed="true" class="main-header-area">
#include msgHdrView.inc.xhtml
                      </hbox>
#include ../../../calendar/base/content/imip-bar-overlay.inc.xhtml
                      <!-- The msgNotificationBar appears on top of the message
                           and displays information like: junk, contains remote
                           images, or is a suspected phishing URL. -->
                      <vbox id="mail-notification-top">
                        <!-- notificationbox will be added here lazily. -->
                      </vbox>
                      <vbox flex="1" class="messagepane-container">
                        <html:div id="calendarInvitationDisplay" hidden="hidden"></html:div>
                        <!-- The messagepanewrapper hbox exists to allow
                             extensions to add sidebars to the message. -->
                        <hbox id="messagepanewrapper" flex="1">
                          <stack flex="1">
                            <browser id="messagepane"
                                     context="mailContext"
                                     autocompletepopup="PopupAutoComplete"
                                     datetimepicker="DateTimePickerPanel"
                                     selectmenulist="ContentSelectDropdown"
                                     autofind="false"
                                     style="min-height:1px;"
                                     flex="1"
                                     name="messagepane"
                                     tooltip="aHTMLTooltip"
                                     disablehistory="true"
                                     type="content"
                                     primary="true"
                                     src="about:blank"
                                     disablesecurity="true"
                                     messagemanagergroup="single-page"
                                     onclick="return contentAreaClick(event);"
                                     onresize="return messagePaneOnResize(event);"/>
                          </stack>
                        </hbox>
                        <splitter id="attachment-splitter" collapse="after"
                                  resizebefore="closest" resizeafter="closest"
                                  collapsed="true"/>
                        <vbox id="attachmentView" collapsed="true">
#include msgAttachmentView.inc.xhtml
                        </vbox>
                      </vbox>
                    </vbox>
                    <findbar id="FindToolbar" browserid="messagepane"/>
                  </vbox>
#include msgSecurityPane.inc.xhtml
                </hbox>
                <vbox id="messenger-notification-footer">
                  <!-- notificationbox will be added here lazily. -->
                </vbox>
              </box>
            </vbox>
          </hbox>
        </box> <!-- end of mailContent -->
#include ../../components/im/content/chat-messenger.inc.xhtml
#include ../../../calendar/base/content/calendar-tab-panels.inc.xhtml
#include ../../../calendar/base/content/item-editing/calendar-item-panel.inc.xhtml
      </tabpanels>
     </tabbox>
      <html:template id="mail3PaneTabTemplate">
        <stack flex="1">
          <browser flex="1"
                   src="about:3pane"
                   autocompletepopup="PopupAutoComplete"
                   datetimepicker="DateTimePickerPanel"
                   selectmenulist="ContentSelectDropdown"
                   messagemanagergroup="single-page"/>
        </stack>
      </html:template>
      <html:template id="mailMessageTabTemplate">
        <stack flex="1">
          <browser flex="1"
                   src="about:message"
                   autocompletepopup="PopupAutoComplete"
                   datetimepicker="DateTimePickerPanel"
                   selectmenulist="ContentSelectDropdown"
                   messagemanagergroup="single-page"/>
        </stack>
      </html:template>
#include ../../../calendar/base/content/widgets/calendar-invitation-panel.xhtml
#include ../../../calendar/base/content/widgets/calendar-minidate.xhtml
      <!-- Hidden browser used for printing documents without displaying them. -->
      <browser id="hiddenPrintContent" type="content" remote="true" hidden="true"/>
    </tabmail>
    <vbox id="contentTab" collapsed="true">
      <vbox flex="1" class="contentTabInstance">
        <vbox id="dummycontenttoolbox" class="contentTabToolbox themeable-full">
          <hbox id="dummycontenttoolbar" class="contentTabToolbar">
            <toolbarbutton class="back-btn nav-button"
                           tooltiptext="&browseBackButton.tooltip;"
                           disabled="true"/>
            <toolbarbutton class="forward-btn nav-button"
                           tooltiptext="&browseForwardButton.tooltip;"
                           disabled="true"/>
            <toolbaritem class="contentTabAddress" flex="1">
              <html:img class="contentTabSecurity" />
              <html:input class="contentTabUrlInput themeableSearchBox"
                          readonly="readonly" />
            </toolbaritem>
          </hbox>
        </vbox>
        <stack flex="1"><!-- Insert browser here. --></stack>
      </vbox>
    </vbox>

    <vbox id="glodaTab" collapsed="true">
      <vbox flex="1" class="chromeTabInstance">
        <vbox class="contentTabToolbox themeable-full">
          <hbox class="glodaTabToolbar inline-toolbar chromeclass-toolbar" flex="1">
            <spacer flex="1" />
            <spacer flex="1" />
            <hbox flex="1" class="remote-gloda-search-container">
              <html:img class="search-icon" alt=""
                        src="chrome://global/skin/icons/search-textbox.svg" />
              <html:input is="gloda-autocomplete-input"
                          type="text"
                          class="remote-gloda-search searchBox gloda-search"
                          searchbutton="true"
                          autocompletesearch="gloda"
                          autocompletepopup="PopupGlodaAutocomplete"
                          autocompletesearchparam="global"
                          timeout="200"
                          maxlength="192"
                          placeholder=""
                          emptytextbase="&search.label.base1;"
                          keyLabelNonMac="&search.keyLabel.nonmac;"
                          keyLabelMac="&search.keyLabel.mac;"/>
            </hbox>
          </hbox>
        </vbox>
        <iframe flex="1"/>
      </vbox>
    </vbox>
    <vbox id="preferencesTab" collapsed="true">
      <vbox flex="1">
        <hbox flex="1">
          <browser id="preferencesbrowser"
                   type="content"
                   flex="1"
                   disablehistory="true"
                   autocompletepopup="PopupAutoComplete"
                   datetimepicker="DateTimePickerPanel"
                   selectmenulist="ContentSelectDropdown"
                   messagemanagergroup="single-site"
                   onclick="return contentAreaClick(event);"/>
        </hbox>
      </vbox>
    </vbox>
#include ../../../calendar/base/content/calendar-today-pane.inc.xhtml
  </hbox>
  <panel id="customizeToolbarSheetPopup" noautohide="true">
    <iframe id="customizeToolbarSheetIFrame"
            style="&dialog.dimensions;"
            hidden="true"/>
  </panel>

  <vbox id="messenger-notification-bottom">
      <!-- notificationbox will be added here lazily. -->
  </vbox>
  <statuspanel id="statusbar-display"/>
  <hbox id="status-bar" class="statusbar chromeclass-status">
    <html:button type="button" id="spacesToolbarReveal"
                 onclick="gSpacesToolbar.toggleToolbar(false);"
                 data-l10n-id="spaces-toolbar-button-show"
                 class="plain spaces-toolbar-statusbar-button"
                 hidden="hidden">
      <html:img src="chrome://messenger/skin/icons/new/compact/collapse.svg" alt="" />
    </html:button>
    <!-- We put the role="status" only around the information that is actually
       - status information for the mail tabs. Specifically, we exclude the
       - Spaces toolbar button and the calendar status bar (which is used when
       - editing events in a tab and for the today pane button). -->
    <hbox role="status" aria-live="off" flex="1">
#include mainStatusbar.inc.xhtml
      <hbox id="calendar-invitations-panel" class="statusbarpanel" hidden="true">
        <label id="calendar-invitations-label"
               class="text-link"
               onclick="openInvitationsDialog()"
               onkeypress="if (event.key == 'Enter') { openInvitationsDialog(); }"/>
      </hbox>
      <label id="unreadMessageCount" class="statusbarpanel"/>
      <label id="totalMessageCount" class="statusbarpanel"/>
    </hbox>
#include ../../../calendar/base/content/calendar-status-bar.inc.xhtml
  </hbox>
  </vbox>
</hbox><!-- Closing #messengerContainer. -->

#include tabDialogs.inc.xhtml
</html:body>
</html>
