/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common-shared.css");

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
  --in-content-button-height: 2.2em;
  --in-content-button-border-color: color-mix(in srgb, currentColor 9%, transparent);
  --in-content-button-border-color-hover: color-mix(in srgb, currentColor 17%, transparent);
}

xul|tabs {
  padding-inline: 0;
  position: static;
}

xul|button[dlgtype="help"] {
  appearance: none;
  width: auto;
}

xul|menulist > xul|menupopup > xul|menuitem[checked="true"]::before,
xul|menulist > xul|menupopup > xul|menuitem[selected="true"]::before {
  display: none;
}

xul|menulist::part(dropmarker) {
  display: -moz-box;
  margin-block: 1px;
}

xul|menulist > xul|menupopup xul|menu,
xul|menulist > xul|menupopup xul|menuitem {
  padding-inline-end: 34px;
}

xul|*.checkbox-icon,
xul|*.radio-icon {
  margin-inline-end: 0;
}

xul|*.text-link:-moz-focusring {
  box-shadow: none;
}

xul|search-textbox::part(search-sign) {
  -moz-context-properties: stroke, fill-opacity;
  stroke: currentColor;
  fill-opacity: 0.8;
  list-style-image: url("chrome://messenger/skin/icons/new/compact/search.svg");
  margin-inline-end: 5px;
}

html|button {
  /* XUL button min-width */
  min-width: 79px;
}

html|input[type="email"],
html|input[type="tel"],
html|input[type="text"],
html|input[type="password"],
html|input[type="number"],
html|textarea {
  margin: 4px;
}

xul|tab {
  min-height: 2.5em;
}

:host(dialog[subdialog]) .dialog-button-box > button {
  min-height: var(--in-content-button-height);
  padding-block: initial;
  padding-inline: 15px;
  border-color: transparent;
  border-radius: var(--in-content-button-border-radius);
}
