/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/preferences/subdialog.css");
@import url("chrome://messenger/skin/abFormFields.css");
@import url("chrome://messenger/skin/icons.css");

:root {
  appearance: none;
  font: message-box;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  --address-book-blocks-box-shadow: 0 6px 6px -5px var(--in-content-button-background);

  --address-book-book-label-color: var(--color-white);
  --address-book-book-label-background: var(--color-gray-50);
  --address-book-card-min-height: 140px;

  --ab-card-line-height: 1.3em;
  --ab-card-table-row-height: 22px;

  --counter-bg-color: var(--color-gray-20)
}

:root[uidensity="compact"] {
  --ab-card-line-height: 1em;
  --ab-card-table-row-height: 18px;
}

:root[uidensity="touch"] {
  --ab-card-line-height: 1.4em;
  --ab-card-table-row-height: 32px;
}

@media (prefers-contrast) {
  :root {
    --address-book-blocks-box-shadow: none;
    --in-content-categories-background: transparent;
  }
}

@media not (prefers-contrast) {
  :root {
    --in-content-button-background-active: var(--grey-90-a30);
    --in-content-categories-background: #ebebef;
    --in-content-item-selected-unfocused: var(--grey-20);
    --splitter-color: var(--in-content-border-color);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-categories-background: rgba(249, 249, 250, 0.1);
      --in-content-item-selected-unfocused: rgba(249, 249, 250, 0.05);
      --in-content-button-background-active: rgba(249, 249, 250, 0.2);
      --in-content-primary-button-background: #45a1ff;
      --in-content-primary-button-background-hover: #65c1ff;
      --in-content-primary-button-background-active: #85e1ff;
      --in-content-focus-outline-color: #45a1ff;

      --address-book-blocks-box-shadow: none;
      --address-book-book-label-color: var(--color-white);
      --address-book-book-label-background: var(--color-gray-50);

      --counter-bg-color: var(--color-gray-80);
    }
  }
}

/* Globals */

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Page layout */

body {
  display: grid;
  grid-template: "toolbox toolbox toolbox" min-content
                 "books cards details" minmax(auto, 1fr)
                 / min-content min-content minmax(auto, 1fr);
  text-shadow: none;
  font-size: 1.1rem;
  --detailsSplitter-height: 50%;
}

body.layout-table {
  grid-template: "toolbox toolbox" min-content
                 "books cards" minmax(var(--address-book-card-min-height), 1fr)
                 "books detailsSplitter" min-content
                 "books details" minmax(auto, var(--detailsSplitter-height))
                 / min-content minmax(auto, 1fr);
}

#dialogStack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Toolbar */

#toolbox {
  grid-area: toolbox;
  font: message-box;
  font-size: 1rem;
}

.toolbarbutton-1:focus-visible {
  outline: var(--in-content-focus-outline);
}

#toolbarCreateBook {
  list-style-image: var(--icon-new-address-book);
}

#toolbarCreateContact {
  list-style-image: var(--icon-new-contact);
}

#toolbarCreateList {
  list-style-image: var(--icon-new-user-list);
}

#toolbarImport {
  list-style-image: var(--icon-import);
}

/* Books pane */

#booksPane {
  grid-area: books;
  width: 18em;
  padding-block-start: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: var(--in-content-page-color);
  background-color: var(--in-content-categories-background);
}

#books {
  flex: 1;
  font-size: 1.1rem;
  line-height: 2.2em;
  scroll-behavior: smooth;
  -moz-user-select: none;
}

#books:focus-visible {
  outline: none;
}

#books,
#books ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#allAddressBooks {
  margin-block-end: 10px;
}

.bookRow-container,
.listRow-container {
  display: flex;
  align-items: center;
  margin-inline: 6px;
  border-radius: var(--in-content-button-border-radius);
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
  cursor: default;
}

.bookRow.selected > .bookRow-container,
.listRow.selected > .listRow-container {
  background-color: var(--in-content-button-background);
}

.bookRow > .bookRow-container:hover,
.listRow > .listRow-container:hover {
  background-color: var(--in-content-item-hover);
}

#books:focus .bookRow.selected > .bookRow-container,
#books:focus .listRow.selected > .listRow-container {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-item-selected-text);
}

.bookRow.drop-target > .bookRow-container,
.listRow.drop-target > .listRow-container {
  background-color: var(--in-content-item-selected);
  color: var(--in-content-item-selected-text);
}

.bookRow .twisty {
  display: inline-flex;
  width: 26px;
  height: 26px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.bookRow:not(.children) .twisty-icon {
  display: none;
}

.bookRow .twisty-icon {
  margin: 7px;
}

.bookRow.children.collapsed .twisty-icon {
  transform: rotate(-90deg);
}

.bookRow.children.collapsed:dir(rtl) .twisty-icon {
  transform: rotate(90deg);
}

@media (prefers-reduced-motion: no-preference) {
  .bookRow .twisty-icon {
    transition: transform 200ms ease;
  }
}

.bookRow-icon,
.listRow-icon {
  width: 16px;
  height: 16px;
  background-image: var(--addressbook-tree-ab);
  background-position: center center;
  background-repeat: no-repeat;
}

.bookRow.remote .bookRow-icon {
  background-image: var(--addressbook-tree-remote);
}

@media (prefers-reduced-motion: no-preference) {
  .bookRow.requesting .bookRow-icon {
    position: relative;
    overflow: hidden;
    background: none;
  }

  .bookRow.requesting .bookRow-icon::before {
    content: "";
    position: absolute;
    background-image: var(--icon-loading);
    width: 480px;
    height: 100%;
    animation: tab-throbber-animation 1.05s steps(30) infinite;
  }

  .bookRow.requesting .bookRow-icon:dir(rtl)::before {
    animation-name: tab-throbber-animation-rtl;
  }

  @keyframes tab-throbber-animation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  @keyframes tab-throbber-animation-rtl {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
}

.bookRow-name,
.listRow-name {
  flex: 1;
  margin-inline: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.bookRow > ul {
  overflow: hidden;
  height: auto;
}

.bookRow > ul:empty,
.bookRow.collapsed > ul {
  height: 0;
}

.bookRow-menu,
.listRow-menu {
  background-image: var(--icon-more);
  background-position: center center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: none;
}

.bookRow-container:hover .bookRow-menu,
.listRow-container:hover .listRow-menu,
#books:focus-visible .bookRow.selected .bookRow-menu,
#books:focus-visible .listRow.selected .listRow-menu {
  display: unset;
}

.listRow-container {
  padding-inline-start: 51px;
}

.listRow-icon {
  background-image: var(--addressbook-tree-list);
}

/* Cards pane */

#cardsPane {
  position: relative;
  grid-area: cards;
  padding-block-start: 32px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  color: var(--in-content-page-color);
  background-color: var(--in-content-box-background);
}

body.layout-list #cardsPane {
  width: 27em;
}

#cardsPaneHeader {
  display: flex;
  margin-block-end: 8px;
  margin-inline: 6px;
}

#searchInput {
  height: var(--in-content-button-height);
  max-width: 24em;
  flex: 1;
  margin-block: 0;
  margin-inline: 0 6px;
  padding-inline: 8px;
  box-sizing: border-box;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: var(--in-content-button-border-radius);
  color: inherit;
  background-color: var(--in-content-box-background);
}

#searchInput:focus {
  border-color: transparent;
  outline: 2px solid var(--in-content-focus-outline-color);
  outline-offset: -1px;
}

#sortButton {
  display: inline-flex;
  min-width: 0;
  min-height: 0;
  width: var(--in-content-button-height);
  height: var(--in-content-button-height);
  margin: 0;
  padding: calc((var(--in-content-button-height) - 18px) / 2); /* 18px = icon size + border */
  -moz-context-properties: stroke;
  stroke: currentColor;
}

#sortButton dropmarker {
  display: none;
}

body.layout-list ~ menupopup#sortContext > :is(menuitem[name="toggle"], #sortContextListLayout),
body.layout-table ~ menupopup#sortContext > :is(menuitem[name="sort"], #sortContextTableLayout) {
  /* Hide table items in list view, and list items in table view. */
  display: none;
}

.all-ab-selected .address-book-name {
  margin-block-start: auto;
  opacity: 0.8;
  flex-shrink: 0;
  font-weight: initial;
}

body.layout-list.all-ab-selected ~ menupopup#sortContext > :is(menuitem[value="addrbook"], #sortContextTableLayout) {
  /* Show address book toggle in the list view if All Address Book is
     selected. */
  display: initial;
}

#cards {
  flex: 1;
  font-size: 1.1rem;
  -moz-context-properties: fill;
  fill: currentColor;
}

#cardsPlaceholder {
  position: absolute;
  inset: 120px 0 auto;
  display: none;
  padding: 0 40px;
  box-sizing: border-box;
  color: var(--in-content-deemphasized-text);
  text-align: center;
}

#cards:empty + #cardsPlaceholder {
  display: block;
}

#cardsPlaceholder > div {
  margin-block-end: 0.25em;
  font-size: 1.3rem;
  line-height: 1.2;
}

#cardsPlaceholder > div::before {
  content: "";
  display: block;
  height: 32px;
  margin-block-end: 9px;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#placeholderEmptyBook::before,
#placeholderSearchOnly::before {
  background-image: var(--addressbook-tree-list);
}

#placeholderCreateContact {
  color: var(--in-content-primary-button-background);
}

#placeholderCreateContact::before {
  background-image: var(--icon-new-contact);
}

#placeholderSearching::before {
  background-image: var(--icon-search);
}

#placeholderNoSearchResults::before {
  /* TODO: Replace this with a "no results" search icon, like search-not-found.svg but nice. */
  background-image: var(--icon-search);
}

ab-card-listrow {
  margin-inline: 6px;
  border-radius: var(--in-content-button-border-radius);
  padding-inline: 9px 6px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

ab-card-listrow:hover,
ab-table-card-listrow:hover {
  background-color: var(--in-content-item-hover);
}

.selected-card {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

:is(ab-card-listrow, .selected-card) .ab-card-listrow-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: var(--ab-card-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
}

:is(ab-card-listrow, .selected-card) :is(.ab-card-first-line, .ab-card-second-line) {
  display: flex;
  justify-content: space-between;
  margin-block: 0;
  font-size: 1rem;
  position: relative;
}

:is(ab-card-listrow, .selected-card) span {
  overflow: hidden;
  text-overflow: ellipsis;
}

:is(ab-card-listrow, .selected-card) .name {
  font-size: 1.1rem;
  font-weight: 500;
}

:is(ab-card-listrow, .selected-card) :is(.name, .address) {
  flex: 1 1 auto;
}

ab-card-listrow :is(.ab-card-first-line, .ab-card-second-line) {
  line-height: 1.3;
}

:root[uidensity="compact"] ab-card-listrow :is(.ab-card-first-line, .ab-card-second-line) {
  line-height: 1.2;
}

:root[uidensity="touch"] ab-card-listrow :is(.ab-card-first-line, .ab-card-second-line) {
  line-height: 1.4;
}

@media (-moz-platform: windows) {
  :root[uidensity="compact"] ab-card-listrow :is(.ab-card-first-line, .ab-card-second-line) {
    line-height: 1.4;
  }
}

ab-card-listrow:not(.selected) .ab-card-second-line {
  color: var(--in-content-deemphasized-text);
}

ab-card-listrow.selected .recipient-avatar.is-mail-list {
  color: currentColor;
}

#cardsHeader {
  display: flex;
  border-bottom: 1px solid var(--in-content-border-color);
  border-top: 1px solid var(--in-content-border-color);
}

body.layout-list #cardsHeader {
  display: none;
}

.table-header {
  background-color: transparent;
  background-position: right 6px center;
  background-repeat: no-repeat;
  -moz-context-properties: stroke;
  stroke: currentColor;
  border-radius: 0;
}

button.table-header:hover {
  background-color: var(--in-content-button-background);
}

button.table-header:active,
button.table-header:hover:active {
  background-color: var(--in-content-button-background-hover);
}

.table-header:dir(rtl) {
  background-position: 6px center;
}

.table-header:first-child {
  padding-inline-start: 28px;
}

.table-header.descending {
  background-image: var(--icon-nav-down-sm);
}

.table-header.ascending {
  background-image: var(--icon-nav-up-sm);
}

@media (-moz-platform: linux) {
  .table-header.ascending {
    background-image: var(--icon-nav-down-sm);
  }

  .table-header.descending {
    background-image: var(--icon-nav-up-sm);
  }
}

.table-header:not([hidden]),
ab-table-card-listrow > div:not([hidden]) {
  display: inline-block;
}

.table-header,
ab-table-card-listrow > div {
  width: 0;
  min-width: unset;
  min-height: unset;
  overflow: hidden;
  flex: 1;
  margin: 0;
  border: none;
  padding-inline: 4px;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header,
ab-table-card-listrow {
  font-size: 1rem;
  height: var(--ab-card-table-row-height);
  line-height: var(--ab-card-table-row-height);
}

ab-table-card-listrow {
  display: flex;
  padding-inline-start: 24px;
  /* FIXME: Replace with density aware contact icon. */
  background-image: url("chrome://messenger/skin/icons/new/address-book-indicator.svg");
  background-repeat: no-repeat;
  background-position: 7px center;
  align-items: baseline;
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}

ab-table-card-listrow:dir(rtl) {
  background-position-x: right 7px;
}

ab-table-card-listrow > div.generatedname-column {
  font-size: 1.1rem;
}

.addresses-column {
  flex: 1.5 !important;
}

/* Details pane */

#detailsSplitter {
  grid-area: detailsSplitter;
}

body.layout-list #detailsSplitter,
#detailsSplitter.splitter-collapsed {
  display: none;
}

#detailsPane {
  grid-area: details;
  color: var(--in-content-page-color);
  background-color: var(--in-content-categories-background);
  min-height: 18em;
}

#detailsPane:not([hidden]) {
  display: grid;
  grid-template: "scroll-content" 1fr
                 "footer" auto / 1fr;
}

#editContactForm {
  display: contents;
}

.contact-details-scroll {
  grid-area: scroll-content;
  overflow: auto;
  padding: 21px;
}

#detailsFooter {
  grid-area: footer;
  padding: 21px;
  background-color: var(--in-content-page-background);
}

.contact-details-scroll > *,
#detailsFooter {
  /* Fits two #detailsBody and vcard-edit columns. */
  max-width: 64em;
}

body.is-editing #detailsPane {
  z-index: 2;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  box-shadow: 0 2px 6px -5px #000;
}

#detailsPaneBackdrop {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

body:not(.is-editing) #detailsPaneBackdrop {
  display: none;
}

body.is-editing #viewContact {
  display: none;
}

body:not(.is-editing) #editContactForm {
  display: none;
}

.contact-header:not([hidden]) {
  display: grid;
  grid-template: "photo headings" auto / auto 1fr;
  align-items: center;
  gap: 1em;
  margin-bottom: 15px;
}

#photoInput {
  display: contents;
}

#photoButton,
#viewContactPhoto {
  grid-area: photo;
}

.contact-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  background-color: var(--in-content-button-background);
  box-shadow: var(--address-book-blocks-box-shadow);
  -moz-context-properties: stroke;
  stroke: var(--in-content-box-background);
}

#photoButton {
  position: relative;
  border-radius: 100%;
  padding: 0;
  margin: 0;
}

#photoButton:hover {
  background: none;
}

#photoOverlay {
  position: absolute;
  inset: 0;
  border-radius: 100%;
}

#photoButton:focus-visible {
  outline: 2px solid var(--in-content-focus-outline-color);
  outline-offset: 2px;
}

#photoButton:is(:focus-visible, :hover) #photoOverlay {
  background-color: #0003;
  background-image: var(--icon-more);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px;
  -moz-context-properties: stroke;
  stroke: #fff;
  cursor: pointer;
}

.contact-headings:not([hidden]) {
  grid-area: headings;
  display: flex;
  flex-direction: column;
  gap: 3px;
  word-break: break-word;
}

.contact-heading-name,
.contact-headings p {
  margin-block: 0;
}

.contact-heading-name {
  font-size: 1.6rem;
  font-weight: 400;
}

.contact-heading-nickname {
  font-size: 1.2rem;
  color: var(--in-content-deemphasized-text);
}

.contact-heading-email {
  margin-block: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--in-content-deemphasized-text);
}

.list-header:not([hidden]) {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.list-header .recipient-avatar {
  width: 50px;
  height: 50px;
}

#detailsBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31.5em, 1fr));
  grid-template-rows: masonry;
  gap: 1em;
}

#detailsActions {
  grid-column: 1 / -1;
}

#detailsBody section {
  padding: 15px;
  border-radius: 3px;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  font-size: 1.1rem;
  line-height: 1.2;
  box-shadow: var(--address-book-blocks-box-shadow);
  box-sizing: border-box;
}

.button-block:not([hidden]) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 6px;
}

.button-block div {
  display: flex;
  align-items: center;
}

.edit-block {
  flex: 1;
  justify-content: end;
}

.icon-button:not([hidden]) {
  min-width: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  --in-content-button-border-color: transparent;
}

.icon-button:hover {
  background-color: var(--in-content-button-background);
}

.icon-button:hover:active {
  background-color: var(--in-content-button-background-active);
}

.icon-button::before {
  content: "";
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#detailsWriteButton::before {
  background-image: var(--icon-pencil);
}

#detailsEventButton::before {
  background-image: var(--icon-new-event);
}

#detailsSearchButton::before {
  background-image: var(--icon-search);
}

#detailsNewListButton::before {
  background-image: var(--icon-new-user-list);
}

#detailsBody h2 {
  margin-block: 0 15px;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 500;
}

.entry-list {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 6px;
  align-items: baseline;
  margin-block: 0;
  margin-inline-start: 9px;
  padding: 0;
  list-style: none inside;
}

.entry-item {
  display: contents;
}

.entry-type {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  opacity: .85;
}

.entry-value {
  word-break: break-all;
}

section#notes div {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

section#selectedCards {
  width: 31.5em;
  grid-column: 1 / -1;
  margin-inline: auto;
}

section#selectedCards ul {
  margin: 0;
  padding: 0;
  list-style: none inside;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

#detailsDeleteButton {
  color: var(--red-60);
  outline-color: var(--red-60);
}

#detailsDeleteButton:hover {
  background-color: var(--red-60);
  color: var(--color-white);
}

#detailsDeleteButton:hover:active {
  background-color: var(--red-70);
}

#detailsDeleteButton::before,
.icon-button-delete {
  background-image: var(--icon-trash);
}

#detailsFooter label {
  margin: 0 4px;
  white-space: nowrap;
}

#detailsFooter menulist:not([hidden]) {
  display: inline;
  margin-inline: 4px;
  min-height: var(--in-content-button-height);
  -moz-context-properties: fill;
  fill: currentColor;
}

#detailsFooter menulist > menupopup {
  --panel-padding: 4px 0;
  --panel-border-color: var(--arrowpanel-border-color);
  --panel-border-radius: var(--arrowpanel-border-radius);
}

input[type="number"] {
  min-height: 28px;
  padding: 1px;
  border-radius: var(--in-content-button-border-radius);
}

/* sizes: chars + 8px padding + 1px borders + spin buttons 25+2+10px  */
input[type="number"].size3 {
  width: calc(3ch + 55px);
}
input[type="number"].size5 {
  width: calc(5ch + 55px);
}

input[type="number"]::-moz-number-spin-box {
  padding-inline-start: 10px;
}

input[type="number"]::-moz-number-spin-up,
input[type="number"]::-moz-number-spin-down {
  appearance: none;
  min-width: 25px;
  border-color: var(--in-content-box-border-color);
  border-radius: 0;
  background-color: var(--in-content-button-background);
  background-position: center;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

input[type="number"]::-moz-number-spin-up:hover,
input[type="number"]::-moz-number-spin-down:hover {
  background-color: var(--in-content-button-background-hover);
}

input[type="number"]::-moz-number-spin-up {
  min-height: calc(var(--in-content-button-height) * 0.5 - 2px);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-start-end-radius: var(--in-content-button-border-radius);
  background-image: url("chrome://global/skin/icons/arrow-up-12.svg");
}

input[type="number"]::-moz-number-spin-down {
  min-height: calc(var(--in-content-button-height) * 0.5 - 3px);
  border-end-end-radius: var(--in-content-button-border-radius);
  background-image: url("chrome://global/skin/icons/arrow-down-12.svg");
}

/* Photo dialog */

#photoDialogInner {
  width: 500px;
  text-align: center;
}

#photoDropTarget {
  height: 100px;
  background-color: var(--in-content-button-background);
  background-image: var(--icon-user);
  background-size: 80px;
  background-position: center;
  -moz-context-properties: stroke;
  stroke: var(--in-content-box-background);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photoDropTarget[hidden] {
  display: none;
}

#photoDropTarget .icon {
  display: none;
  margin-inline-end: 8px;
  width: 16px;
  height: 16px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

@media (prefers-reduced-motion: no-preference) {
  ab-card-listrow,
  ab-table-card-listrow {
    transition: background-color 320ms ease;
  }

  #photoDropTarget.drop-loading .icon {
    display: unset;
    position: relative;
    overflow: hidden;
    text-align: start;
  }

  #photoDropTarget.drop-loading .icon::before {
    content: "";
    position: absolute;
    background-image: url("chrome://messenger/skin/icons/loading.svg");
    width: 480px;
    height: 100%;
    animation: tab-throbber-animation 1.05s steps(30) infinite;
  }

  #photoDropTarget.drop-loading .icon:dir(rtl)::before {
    animation-name: tab-throbber-animation-rtl;
  }

  @keyframes tab-throbber-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes tab-throbber-animation-rtl {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

#photoDropTarget.drop-error .icon {
  display: unset;
  background-image: url("chrome://global/skin/icons/warning.svg");
  background-size: contain;
}

#photoDialog svg {
  margin: -10px;
}

#photoDialog svg[hidden] {
  display: none;
}

#photoDialog rect {
  fill: transparent;
}

#photoDialog rect:not(.corner) {
  shape-rendering: crispEdges;
  stroke: #fff;
  stroke-width: 1px;
}

#photoDialog .corner.nw {
  cursor: nw-resize;
}

#photoDialog .corner.ne {
  cursor: ne-resize;
}

#photoDialog .corner.se {
  cursor: se-resize;
}

#photoDialog .corner.sw {
  cursor: sw-resize;
}

#photoDialog .extra1 {
  margin-inline-end: auto;
}


/* Responsive style */

@media (max-width: 1024px) {
  body.layout-list {
    grid-template: "toolbox toolbox" min-content
                  "books cards" minmax(var(--address-book-card-min-height), 1fr)
                  "books detailsSplitter" min-content
                  "books details" minmax(auto, var(--detailsSplitter-height))
                  / min-content minmax(auto, 1fr);
  }

  body.layout-list #cardsPane {
    width: 100%;
  }

  body.layout-list #detailsSplitter {
    display: unset;
  }

  body.layout-list #detailsPane {
    min-height: 18em;
  }

  section#selectedCards {
    width: -moz-available;
  }
}

#aboutAddressBookCount {
  position: sticky;
  bottom: 0;
  background-color: var(--counter-bg-color);
  border-top: 1px solid var(--button-border-color);
  color: color-mix(in srgb, var(--in-content-page-color) 75%, transparent);
  padding: 9px;
  margin-block-start: 6px;
  font-weight: 500;
  font-size: 1rem;
}
