/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Mail Toolbars and Menubars ::::: */

.mail-toolbox,
.contentTabToolbox {
  appearance: none;
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage);
}

.mail-toolbox:-moz-lwtheme,
.contentTabToolbox:-moz-lwtheme {
  color: var(--toolbar-color, inherit);
  background-color: var(--lwt-accent-color);
  background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent),
                    var(--lwt-selected-tab-background-color, transparent)),
                    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, none);
  background-position: right top, var(--lwt-background-alignment);
}

.mail-toolbox > toolbar {
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

#button-getmsg {
  list-style-image: var(--icon-get-mail);
}

#button-newmsg {
  list-style-image: var(--icon-pencil);
}

#button-address {
  list-style-image: var(--icon-address-book);
}

#button-reply {
  list-style-image: var(--icon-reply);
}

#button-replyall {
  list-style-image: var(--icon-reply-all);
}

#button-replylist {
  list-style-image: var(--icon-reply-list);
}

#button-forward {
  list-style-image: var(--icon-forward);
}

#button-redirect {
  list-style-image: var(--icon-redirect);
}

.delete-button {
  list-style-image: var(--icon-trash);
}

.junk-button {
  list-style-image: var(--icon-spam);
}

#button-print {
  list-style-image: var(--icon-print);
}

#button-stop {
  list-style-image: var(--icon-close);
}

#button-file {
  list-style-image: var(--icon-file);
}

#button-nextUnread {
  list-style-image: var(--icon-nav-down-unread);
}

#button-previousUnread {
  list-style-image: var(--icon-nav-up-unread);
}

#button-mark {
  list-style-image: var(--icon-unread);
}

#button-tag {
  list-style-image: var(--icon-tag);
}

#button-goback {
  list-style-image: var(--icon-nav-back);
}

#button-goforward {
  list-style-image: var(--icon-nav-forward);
}

#button-compact {
  list-style-image: var(--icon-compress);
}

#button-archive {
  list-style-image: var(--icon-archive);
}

#button-chat {
  -moz-context-properties: fill, stroke, fill-opacity;
}

#button-nextMsg {
  list-style-image: var(--icon-nav-down);
}

#button-previousMsg {
  list-style-image: var(--icon-nav-up);
}

#qfb-show-filter-bar {
  list-style-image: var(--icon-filter);
}

#button-showconversation {
  list-style-image: var(--icon-conversation);
}

#button-addons {
  list-style-image: var(--icon-extension);
}

.button-appmenu {
  list-style-image: var(--icon-app-menu);
  min-width: 35px !important;
  margin-inline: 4px;
}

.button-appmenu[badge-status="addon-alert"] {
  list-style-image: var(--icon-app-menu-badged);
}

#button-chat[unreadMessages="true"] {
  fill: color-mix(in srgb, var(--toolbarbutton-icon-fill-attention) 20%, transparent);
  stroke: var(--toolbarbutton-icon-fill-attention);
}

toolbar[mode="text"] > #button-chat[unreadMessages="true"] {
  color: var(--toolbarbutton-icon-fill-attention);
}

#button-newMsgPopup .menuitem-iconic {
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}

/* remove the small icons checkbox in Customize window */
#smallicons {
  display: none;
}

.button-appmenu .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .button-appmenu .toolbarbutton-icon {
  display: -moz-box;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #folderpane-mode-selector,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

#palette-box #button-chat {
  background: var(--icon-chat) no-repeat center;
}

/* Hide the toolbarbutton-icon when the button is removed from the toolbar */
#palette-box #button-chat > stack > .toolbarbutton-icon {
  display: none;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBarText {
  font-weight: bold;
  margin-bottom: 0;
}

.msgNotificaton-smallText {
  padding-inline-start: 10px;
  font-size: 90%;
}

.subviewbutton-iconic {
  -moz-context-properties: fill, stroke, fill-opacity;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#appmenu_new {
  list-style-image: var(--icon-add);
}

#appmenu_msgAttachmentMenu {
  list-style-image: var(--icon-attachment);
}

#appmenu-cut,
#appmenu-editmenu-cut {
  list-style-image: var(--icon-cut);
}

#appmenu-copy,
#appmenu-editmenu-copy {
  list-style-image: var(--icon-copy);
}

#appmenu-paste,
#appmenu-editmenu-paste {
  list-style-image: var(--icon-paste);
}

#appmenu_find {
  list-style-image: var(--icon-search);
}

#appmenu_print,
#appmenu_print_popup {
  list-style-image: var(--icon-print);
}

#appmenu_saveAs {
  list-style-image: var(--icon-folder-save);
}

#appmenu_emptyTrash {
  list-style-image: var(--icon-trash);
}

#appmenu_activityManager {
  list-style-image: var(--icon-file);
}

#appmenu_accountmgr {
  list-style-image: var(--icon-account-settings);
}

#appmenu_filters,
#appmenu_filtersCmd {
  list-style-image: var(--icon-filter);
}

#appmenu_customize {
  list-style-image: var(--icon-paint-brush);
}

#appmenu_preferences {
  list-style-image: var(--icon-settings);
}

#appmenu-quit {
  list-style-image: var(--icon-quit);
}

#appmenu_addons,
#appmenu_Add-Ons {
  list-style-image: var(--icon-extension);
}

#appmenu_help,
#appmenu_openHelp {
  list-style-image: var(--icon-question);
}

#appmenu_addressBook {
  list-style-image: var(--icon-address-book);
}

#button-getAllNewMsg,
#menu_getnewmsgs_all_accounts,
#appmenu_getnewmsgs_all_accounts {
  list-style-image: var(--icon-download);
}

#spacesButtonMail {
  list-style-image: var(--icon-mail);
}

#spacesButtonAddressBook {
  list-style-image: var(--icon-address-book);
}

#spacesButtonCalendar {
  list-style-image: var(--icon-calendar);
}

#spacesButtonTasks {
  list-style-image: var(--icon-tasks);
}

#spacesButtonChat {
  list-style-image: var(--icon-chat);
}
