/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabmail-tabs .tabmail-tab:first-child .tab-close-button,
#tabmail-tabs[closebuttons="activetab"] .tabmail-tab:not([selected="true"]) .tab-close-button {
  display: none;
}

.tab-drop-indicator {
  position: absolute;
  top: 0;
  /* The z-index needs to be big enough to trump other positioned UI pieces
     that we want to overlay. The selected tab uses 2. */
  z-index: 3;
}

#tabs-toolbar {
  --tabs-top-border-width: 0px;
  box-shadow: 0 calc(-1 * var(--tabs-tabbar-border-size)) 0 var(--lwt-tabs-border-color) inset;
}

#tabs-toolbar:-moz-lwtheme {
  --tabline-color: var(--lwt-tab-line-color, currentColor);
}

:root[tabsintitlebar] #toolbar-menubar[autohide=true] ~
  #tabs-toolbar > #tabbar-toolbar {
  margin-inline-start: 40px;
}

#tabmail-arrowscrollbox {
  min-height: var(--tab-min-height);
}

.tab-stack {
  min-height: inherit;
}

.tabmail-tab {
  appearance: none;
  -moz-box-align: stretch;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  margin: 0;
  margin-inline-end: 1px;
  padding: 0;
}

/* The selected tab should appear above adjacent tabs and the highlight
   of #tabs-toolbar */
.tabmail-tab[selected=true] {
  position: relative;
  z-index: 2;
}

.tab-content {
  padding-inline: 9px;
  display: flex;
  align-items: center;
}

.tab-content > :is(.tab-throbber, .tab-icon-image, .tab-close-button) {
  flex: 0 0 auto;
}

.tab-content > .tab-label-container {
  flex: 1 1 auto;
}

.tab-label-container {
  overflow: hidden;
}

.tab-label-container[textoverflow] {
  mask-image: linear-gradient(to left, transparent, black 2em);
}

.tab-label-container[textoverflow]:-moz-locale-dir(rtl) {
  mask-image: linear-gradient(to right, transparent, black 2em);
}

.tab-throbber,
.tab-icon-image,
button.tab-close-button {
  margin-block: 1px 0;
}

.tab-throbber,
.tab-icon-image {
  height: 16px;
  width: 16px;
  margin-inline-end: 6px;
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}

.tab-icon-image:not([src]) {
  visibility: hidden;
}

.tab-throbber:not([busy]):not([thinking]),
.tab-throbber[busy] + .tab-icon-image,
.tab-throbber[thinking] + .tab-icon-image,
.tab-throbber[busy][thinking] + .tab-icon-image {
  display: none;
}

.tab-label {
  white-space: nowrap;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

button.tab-close-button {
  margin-inline: 1px -2px;
  padding: 2px;
}

.tab-close-icon {
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.tabmail-tab:not([selected],:-moz-lwtheme) {
  color: inherit;
}

.tabmail-tab:-moz-lwtheme {
  color: inherit;
}

.tabmail-tab[visuallyselected=true]:-moz-lwtheme {
  color: var(--lwt-tab-text, var(--toolbar-color, inherit));
}

.tab-line {
  height: 2px;
}

/* Selected tab */

.tab-background {
  border: 1px none transparent;
  background-clip: padding-box;
}

:root[extradragspace],
:root:not([tabsintitlebar]) #tabs-toolbar,
#toolbar-menubar[toolbarname]:not([autohide=true]) ~ #tabs-toolbar {
  --tabs-top-border-width: 1px;
}

:root[extradragspace] .tab-background,
:root:not([tabsintitlebar]) .tab-background,
#toolbar-menubar[toolbarname]:not([autohide=true]) ~ #tabs-toolbar > #tabmail-tabs .tab-background {
  border-top-style: solid;
}

.tab-background[selected=true] {
  border-top-color: var(--lwt-tabs-border-color);
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage);
  background-repeat: repeat-x;
}

.tab-line[selected=true] {
  background-color: var(--tabline-color);
}

/*
 * LightweightThemeConsumer will set the current lightweight theme's header
 * image to the lwt-header-image variable, used in each of the following rulesets.
 */

/* Lightweight theme on tabs */
.tabmail-tab .tab-background[selected=true]:-moz-lwtheme {
  background-attachment: scroll, scroll, fixed;
  background-color: transparent;
  background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent),
                    var(--lwt-selected-tab-background-color, transparent)),
                    linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)),
                    var(--lwt-header-image, none);
  background-position: 0 0, 0 0, right top;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 100%, auto 100%, auto auto;
}

/* Tab hover */

.tabmail-tab:hover .tab-background:not([selected=true]) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Adjust button hover color relative to the darker background. */
#tabs-toolbar:not([brighttext]) button.tab-close-button:not([selected=true]):hover {
  background-color: color-mix(in srgb, black 10%, var(--button-hover-bgcolor));
}

#tabs-toolbar:not([brighttext]) button.tab-close-button:not([selected=true]):hover:active {
  background-color: color-mix(in srgb, black 10%, var(--button-active-bgcolor));
}

#tabs-toolbar[brighttext] .tabmail-tab:hover .tab-background:not([selected=true]) {
  background-color: rgba(255, 255, 255, 0.05);
}

.tab-line:not([selected=true]) {
  opacity: 0;
  transform: scaleX(0);
  transition: transform 250ms var(--animation-easing-function),
              opacity 250ms var(--animation-easing-function);
}

.tabmail-tab:hover .tab-line:not([selected=true]) {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: none;
}

#tabs-toolbar[brighttext] .tabmail-tab:hover .tab-line:not([selected=true]) {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab-throbber {
  list-style-image: none;
}

@media (prefers-reduced-motion: reduce) {
  .tab-throbber[busy] {
    background-image: url("chrome://messenger/skin/icons/hourglass.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tab-throbber[busy] {
    position: relative;
    overflow: hidden;
  }

  .tab-throbber[busy]::before {
    content: "";
    position: absolute;
    background-image: var(--icon-loading);
    background-position: left center;
    background-repeat: no-repeat;
    width: 480px;
    height: 100%;
    animation: tab-throbber-animation 1.05s steps(30) infinite;
    opacity: 0.7;
  }

  .tab-throbber[busy]:-moz-locale-dir(rtl)::before {
    animation-name: tab-throbber-animation-rtl;
  }

  @keyframes tab-throbber-animation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  @keyframes tab-throbber-animation-rtl {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
}

/* Tab separators */
.tabmail-tab::after,
.tabmail-tab::before {
  border-left: 1px solid var(--lwt-background-tab-separator-color, currentColor);
  margin-top: 5px;
  margin-bottom: 4px;
  width: var(--tabs-tabbar-border-size);
  opacity: 0.3;
}

/* Move the ::before pseudo-element on tabs 1px to the left
 * to avoid resizing the tab when the pseudo-element is removed again
 * (this currently happens when a tab is opened or closed).
 */
.tabmail-tab::before {
  margin-inline-start: -1px;
}

.tabmail-tab:last-child::after {
  margin-inline-end: -1px;
}

/* Show full height tab separators on hover. */
.tabmail-tab:not([selected=true]):last-child:hover::after,
.tabmail-tab:not([selected]) + .tabmail-tab:not([selected]):hover::before,
.tabmail-tab:not([selected]):hover + .tabmail-tab:not([selected])::before,
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] ~
  #tabs-toolbar > #tabmail-tabs > .tabmail-tab::after,
:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] ~
  #tabs-toolbar > #tabmail-tabs > .tabmail-tab::before {
  margin-top: var(--tabs-top-border-width);
  margin-bottom: var(--tabs-tabbar-border-size);
}

/* Show full height tab separators on selected tabs. */
.tabmail-tab[visuallyselected]::before,
.tabmail-tab[visuallyselected]::after,
.tabmail-tab[visuallyselected] + .tabmail-tab::before {
  border-color: var(--lwt-tabs-border-color);
  margin-block: 0;
  opacity: 1;
}

.tabmail-tab:last-child::after,
.tabmail-tab + .tabmail-tab::before {
  content: '';
  display: -moz-box;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

#tabmail-arrowscrollbox::part(scrollbutton-up),
#tabmail-arrowscrollbox::part(scrollbutton-down) {
  fill: var(--toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

/* Tab Overflow */
#tabmail-arrowscrollbox:not([scrolledtostart])::part(overflow-start-indicator),
#tabmail-arrowscrollbox:not([scrolledtoend])::part(overflow-end-indicator) {
  width: 18px;
  background-image: url("chrome://messenger/skin/icons/overflow-indicator.png");
  background-size: 17px 100%;
  background-repeat: no-repeat;
  border-left: 1px solid;
  border-image: linear-gradient(rgba(255,255,255,.2),
                                rgba(255,255,255,.2) calc(100% - var(--tabs-tabbar-border-size)),
                                transparent calc(100% - var(--tabs-tabbar-border-size)));
  border-image-slice: 1;
  margin-bottom: var(--tabs-tabbar-border-size);
  pointer-events: none;
  position: relative;
  z-index: 3; /* the selected tab's z-index + 1 */
}

#tabmail-arrowscrollbox:-moz-locale-dir(rtl)::part(overflow-start-indicator),
#tabmail-arrowscrollbox:-moz-locale-dir(ltr)::part(overflow-end-indicator) {
  transform: scaleX(-1);
}

#tabmail-arrowscrollbox:not([scrolledtostart])::part(overflow-start-indicator) {
  margin-inline-start: -1px;
  margin-inline-end: -17px;
}

#tabmail-arrowscrollbox:not([scrolledtoend])::part(overflow-end-indicator) {
  margin-inline-start: -17px;
  margin-inline-end: -1px;
}

#tabmail-arrowscrollbox[scrolledtostart]::part(overflow-start-indicator),
#tabmail-arrowscrollbox[scrolledtoend]::part(overflow-end-indicator) {
  opacity: 0;
}

#tabmail-arrowscrollbox::part(overflow-start-indicator),
#tabmail-arrowscrollbox::part(overflow-end-indicator) {
  transition: opacity 150ms ease;
}

/**
 * All Tabs Button
 */

#alltabs-button {
  list-style-image: url("chrome://messenger/skin/icons/arrow-dropdown.svg");
}

#alltabs-button .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

#alltabs-button > .toolbarbutton-text,
#alltabs-button > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* All Tabs Menupopup */

.alltabs-item {
  list-style-image: var(--icon-draft);
}

.alltabs-item[selected] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
  -moz-image-region: auto !important;
}

.alltabs-item > .menu-iconic-left {
  fill: MenuText;
}

.alltabs-item[_moz-menuactive="true"] > .menu-iconic-left {
  fill: -moz-menuhovertext;
}

/* Content Tabs */
.chromeTabInstance[collapsed="false"] .contentTabToolbox,
.contentTabInstance[collapsed="false"] .contentTabToolbox {
  display: none;
}

.contentTabAddress {
  display: flex;
  align-items: center;
}

.contentTabAddress > .contentTabSecurity {
  flex: 0 0 auto;
}

.contentTabAddress > .contentTabUrlInput {
  flex: 1 1 auto;
}

.contentTabSecurity {
  height: 16px;
  width: 16px;
  -moz-context-properties: fill;
  fill: currentColor;
  /* Position within the input. */
  position: relative;
  /* Make sure we take up no width in the flow. */
  margin-inline-end: -16px;
  /* Move within the input. Input has a margin of 3px and border of 1px, so this
   * is 5px within. */
  inset-inline-start: 9px;
}

.contentTabSecurity.secure-connection-icon {
  fill: #12bc00;
}

.contentTabSecurity:not([src]) {
  display: none;
}

.contentTabSecurity[src] + .contentTabUrlInput {
  /* 5px before the icon + 16px width + 4px after. */
  padding-inline-start: 25px;
}

.contentTabSecurity:not([src]) + .contentTabUrlInput {
  padding-inline-start: 4px;
}

.nav-button {
  appearance: none;
  list-style-image: var(--icon-nav-back);
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 5px 2px;
  margin-inline-start: 2px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.nav-button[disabled="true"] {
  color: inherit;
}

.nav-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.4;
}

.nav-button:not([disabled="true"]):hover {
  background-color: var(--toolbarbutton-hover-background);
  cursor: pointer;
}

.nav-button > .toolbarbutton-text {
  display: none;
}

.back-btn:-moz-locale-dir(rtl),
.forward-btn:-moz-locale-dir(ltr) {
  list-style-image: var(--icon-nav-forward);
}

/*
 Show the ::before pseudo element if the pinned button of the spaces toolbar is visible.
*/
#spacesPinnedButton:not([collapsed="true"]) + #tabmail-tabs .tabmail-tab:first-child::before {
  content: '';
  display: -moz-box;
  margin-inline-start: 0;
}
